/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: bottom;
}

h1, h2, h3 {
    font-size: 100%;
}

li {
    list-style-type: none;
}

/*CSS*/

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    gap: 30px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/hero.jpg");
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    font-size: 42px;
    text-shadow: 2px 2px 5px #222222;
}

.news-container {
    height: 600px;
}

#news {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

#about {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.jp-header {
    font-size: 36px;
    color: goldenrod;
}

.en-header {
    font-size: 22px;
    color: black;
}

.about-details {
    width: 450px;
}

.temp-img {
    width: 450px;
    height: 250px;
    background-color: antiquewhite;
}